.products-grid .product-item {
    position: relative;
    min-height: 1px;
    float: left;
    /* -webkit-backface-visibility: hidden; */
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }
  
  .products-grid .product-item img {
    display: block;
    width: 100%;
  }