RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.php -f


RewriteRule ^index index.php
RewriteRule ^shop shop.php
RewriteRule ^checkout_page checkout_page.php
RewriteRule ^compare compare.php
RewriteRule ^product_details product_details.php
RewriteRule ^wishlist wishlist.php
RewriteRule ^cart_page cart_page.php
RewriteRule ^contact_us contact_us.php
RewriteRule ^products products.php
RewriteRule ^order_confirmation order_confirmation.php
RewriteRule ^ongoing_classes ongoing_classes.php
RewriteRule ^book_class book_class.php