RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.php -f


RewriteRule ^index index.php
RewriteRule ^products products.php
RewriteRule ^category category.php
RewriteRule ^sub_categories sub_categories.php
RewriteRule ^product_details product_details.php
RewriteRule ^packaging packaging.php
RewriteRule ^general_orders general_orders.php
RewriteRule ^general_order_details general_order_details.php
RewriteRule ^custom_orders custom_orders.php
RewriteRule ^custom_order_details custom_order_details.php